<h1>Usuarios</h1>


<div>
    <c-input-group class="mb-3">
        <input aria-describedby="button-addon2"
               aria-label="Recipient's username"
               cFormControl
               placeholder="Buscar usuario"
        />
        <button cButton color="secondary" id="button-addon2" type="button" variant="outline">
          Buscar
        </button>
    </c-input-group>
      
</div>

<div>
      <table  class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Acción</th>
          </tr>
        </thead>
        <tbody>
          @for(row of data; track row.id) {
            <tr [class.expanded]="expandedRow === row.id"
            (click)="toggleExpandRow(row.id)">
              <td>{{ row.id }}</td>
              <td>{{ row.name }}</td>
              <td>{{ row.email }}</td>
              <td>
                <button class="btn btn-primary btn-sm">Editar</button>
              </td>
            </tr>
            <tr *ngIf="expandedRow === row.id">
              <td colspan="4">
                <strong>Detalles adicionales:</strong>
                <p>{{ row.details }}</p>
              </td>
            </tr>
          }

        </tbody>
      </table>
      
</div>