<h1>Usuarios</h1>


<div>
    <c-input-group class="mb-3">
        <input aria-describedby="button-addon2"
               aria-label="Recipient's username"
               cFormControl
               placeholder="Buscar usuario"
        />
        <button cButton color="secondary" id="button-addon2" type="button" variant="outline">
          Buscar
        </button>
    </c-input-group>
      
</div>

<div>
    <table [striped]="true" cTable>
        <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Class</th>
          <th scope="col">Heading</th>
          <th scope="col">Heading</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>&#64;mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>&#64;fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colSpan="2">Larry the Bird</td>
          <td>&#64;twitter</td>
        </tr>
        </tbody>
      </table>
</div>